{% extends "common/base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <style>
        a {
            color: #28a745;
        }

        a:hover {
            color: #1e7e34;
        }

        input {
            width: 100%;
            padding: 8px 10px;
            border-radius: 6px;
            border: 1px solid #ccc;
        }
        
    </style>
{% endblock %}
{% block content %}




    <div class="small-container">
        <h3 class="text-center mb-3 text-green">Login</h3>

        {% if form.errors %}
            <div class="alert alert-danger py-2">
                Invalid username or password.
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Username</label>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-green btn-green-shadow w-100 mt-2">Login</button>
        </form>

        <p class="text-center mt-3 mb-0">
            Don't have an account? <a href="{% url 'register' %}">Register</a>
        </p>
    </div>

{% endblock %}
